<!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico" />
    <title>Bitfonix - Bitcoin And Crypto Currency HTML Template</title>
    <!-- Bootstrap core CSS -->
    <link href="assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Google Font  -->
     <link href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,500i,600,600i,700,700i|Roboto:400,400i,500,500i,700,700i" rel="stylesheet"> 
    <!-- icofont icon -->
    <link rel="stylesheet" href="assets/css/icofont.css">	
    <!-- font awesome icon -->
    <link rel="stylesheet" href="assets/css/fontawesome-all.min.css">	
    <!-- animate CSS -->
    <link rel="stylesheet" href="assets/css/animate.css">
	<!--- meanmenu Css-->
    <link rel="stylesheet" href="assets/css/meanmenu.min.css" media="all" />	
    <!--- owl carousel Css-->
    <link rel="stylesheet" href="assets/owlcarousel/css/owl.carousel.min.css">
    <link rel="stylesheet" href="assets/owlcarousel/css/owl.theme.default.min.css">
    <!-- venobox -->
    <link rel="stylesheet" href="assets/venobox/css/venobox.css" />	
    <!-- Style CSS --> 
    <link rel="stylesheet" href="assets/css/style.css">
    <!-- Responsive  CSS -->
    <link rel="stylesheet" href="assets/css/responsive.css">
    <link rel="stylesheet" href="/app.css">
    <title>Test-Style</title>
  </head>
  <body>
	<!-- START PRELOADER -->

	<!-- END PRELOADER --> 
	
	<!-- START HEADER SECTION -->
	<header class="main-header header-1">
		<!-- START TOP AREA -->
		<div class="top-area">
			<div class="auto-container">
				<div class="row">
					<div class="col-lg-8 col-md-12 col-sm-12 col-12">
						<div class="info-menu">
							<ul>
								<li><a href="#"><i class="icofont icofont-time"></i><span id='token'>  TokenName  </span>  </a></li>
								
										<li> <a hreg='#'>  Pricing  </a></li>
										<li> <a hreg='#'>  Portfolio   </a></li>
  <li class="dropdown"><a href="index-2.html" class="active nav-link">Home</a>
										<ul class="dropdown-menu">
											<li><a href="index-2.html">Home 1</a></li>
											<li><a href="index-3.html">Home 2</a></li>
											<li><a href="index-4.html">Home 3</a></li>
											<li><a href="index-5.html">Home 4</a></li>
										</ul>
									</li>
							</ul>
						</div>
					</div>
					<!-- end col -->
					<div class="col-lg-4 col-md-12 col-sm-12 col-12">
						<div class="info-menu">
						 

<!--About-->
<!--Services-->
<!--Portfolio-->
<!--Team-->
<!--Pricing-->
<!--Drop Down-->
<!--Contact-->

							<ul>
								<li><a href="#"><i class="icofont icofont-login"></i> About</a></li>
								<li><a href="#"><i class="icofont icofont-user-alt-5"></i> Services </a></li>
								<li><a href="#"><i class="icofont icofont-hand-drag2"></i> Team </a></li>
								<li><a href="#"><i class="icofont icofont-live-support"></i> Contact </a></li>
							
							</ul>
						</div>
					</div> 
					<!-- end col -->
				</div>
			</div>
		</div>
		
		
		<!-- END NAVIGATION AREA -->	
	</header>
	<!-- END HEADER SECTION -->
	
	
		<!-- START SLIDER SECTION -->
	<section class="slider-section">
		<div class="home-slides owl-carousel owl-theme ">
			<div class="home-single-slide" data-background="assets/img/bg/slide1.jpg">
				<div class="home-slide-overlay"></div>
				<div class="home-single-slide-inner">
					<div class="container">
						<div class="row">
							<div class="col-lg-7 col-md-10 col-12 mr-auto text-left">
								<div class="home-single-slide-dec">
									<h2>Secure & easy way to <br> buy & sell bitcoin</h2>
									<p class="text-capitalize">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
									<div class="home-single-slide-button">
										<a href="#" class="btn-style btn-filled">Learn More</a>
										<a href="#" class="btn-style btn-border">Bitcoin Price</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- end single slider -->
			<div class="home-single-slide" data-background="assets/img/bg/slide5.jpg">
				<div class="home-slide-overlay"></div>
				<div class="home-single-slide-inner">
					<div class="container">
						<div class="row">
							<div class="col-lg-7 col-md-10 col-12 mr-auto text-left">
								<div class="home-single-slide-dec">
									<h2>bitcoin & ethereum transper you can trust </h2>
									<p class="text-capitalize">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
									<div class="home-single-slide-button">
										<a href="#" class="btn-style btn-border">Get quote</a>
										<a href="#" class="btn-style btn-filled">Read More</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- end single slider -->
			<div class="home-single-slide" data-background="assets/img/bg/slide6.jpg">
				<div class="home-slide-overlay"></div>
				<div class="home-single-slide-inner">
					<div class="container">
						<div class="row">
							<div class="col-lg-7 col-md-10 col-12 mr-auto text-left">
								<div class="home-single-slide-dec">
									<h2>Invest & double your desire bitcoin</h2>
									<p class="text-capitalize">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
									<div class="home-single-slide-button">
										<a href="#" class="btn-style btn-filled">Contact Us</a>
										<a href="#" class="btn-style btn-border">View More</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- end single slider -->
		</div>
	</section>
	<!-- END SLIDER SECTION  -->
	
	<!-- START ABOUT SECTION -->
    <section id="about" class="section-padding">
        <div class="container">
			<div class="row">
				<div class="col-12 text-center">
					<div class="section-title">
						<h3>Special Features</h3>
						<p> New unique Features which you have never seen</p>
					</div>
				</div>
			</div>
			<!-- end section title -->
			<div class="row text-center">
				<div class="single-about-item col-lg-4 col-md-4 col-sm-12 col-12 mb-lg-0 mb-md-4 mb-sm-4 mb-4">
					<div class="single-about">
						<div class="single-about-img">
							<div class="single-about-img-inner">
								<a href="#"><img src="assets/img/bg/bg1.jpg" class="img-fluid" alt=""></a>
							</div>
						</div>
						<div class="single-about-caption">
							<div class="single-about-icon">
								<i class="fab fa-btc"></i>
							</div>
							
							


							<div class="single-about-title">
								<h5>Minus Tax</h5>
							</div>
							<div class="single-about-dec">
								<p>Why Buyers have to pay TAX?
     All Buyers will get 10% MORE tokens</p>
							</div>
						</div>
					</div>
				</div>

				<!-- end single about -->
				<div class="single-about-item col-lg-4 col-md-4 col-sm-12 col-12 mb-lg-0 mb-md-4 mb-sm-4 mb-4">
					<div class="single-about">
						<div class="single-about-img">
							<div class="single-about-img-inner">
								<a href="#"><img src="assets/img/bg/bg4.jpg" class="img-fluid" alt=""></a>
							</div>
						</div>
						<div class="single-about-caption">
							<div class="single-about-icon">
								<i class="fa fa-dollar-sign"></i>
							</div>
							<div class="single-about-title">
								<h5>Price Recovery</h5>
							</div>
							<div class="single-about-dec">
								<p>Buy should happen AFTER the sell
This will actually REDUCE the sell impact by 13%</p>
							</div>
						</div>
					</div>
				</div>
				<!-- end single about -->
				<div class="single-about-item col-lg-4 col-md-4 col-sm-12 col-12 mb-lg-0 mb-md-4 mb-sm-4 mb-4">
					<div class="single-about">
						<div class="single-about-img">
							<div class="single-about-img-inner">
								<a href="#"><img src="assets/img/bg/bg5.jpg" class="img-fluid" alt=""></a>
							</div>
						</div>
						<div class="single-about-caption">
							<div class="single-about-icon">
								<i class="fa fa-euro-sign"></i>
							</div>
							


							<div class="single-about-title">
								<h5>Motivated Redistribution</h5>
							</div>
							<div class="single-about-dec">
								<p>Buyers at special situation should get MORE
Concept will be revealed soon (working)</p>
							</div>
						</div>
					</div>
				</div>
				<!-- end single about -->
				<div class="single-about-item col-lg-4 col-md-4 col-sm-12 col-12 mb-lg-0 mb-md-4 mb-sm-4 mb-4">
					<div class="single-about">
						<div class="single-about-img">
							<div class="single-about-img-inner">
								<a href="#"><img src="assets/img/bg/bg6.jpg" class="img-fluid" alt=""></a>
							</div>
						</div>
						<div class="single-about-caption">
							<div class="single-about-icon">
								<i class="fab fa-gg"></i>
							</div>
							

							<div class="single-about-title">
								<h5>Feature BR</h5>
							</div>
							<div class="single-about-dec">
								<p>Name and concept will be revealed soon</p>
							</div>
						</div>
					</div>
				</div>
				<!-- end single about -->
				<div class="single-about-item col-lg-4 col-md-4 col-sm-12 col-12 mb-lg-0 mb-md-4 mb-sm-4 mb-4">
					<div class="single-about">
						<div class="single-about-img">
							<div class="single-about-img-inner">
								<a href="#"><img src="assets/img/bg/bg3.jpg" class="img-fluid" alt=""></a>
							</div>
						</div>
						<div class="single-about-caption">
							<div class="single-about-icon">
								<i class="fa fa-ruble-sign"></i>
							</div>
							

							<div class="single-about-title">
								<h5>Feature EB</h5>
							</div>
							<div class="single-about-dec">
								<p> Name and concept will be revealed in launch. </p>
							</div>
						</div>
					</div>
				</div>
				<!-- end single about -->
				<div class="single-about-item col-lg-4 col-md-4 col-sm-12 col-12 mb-lg-0 mb-md-4 mb-sm-4 mb-4">
					<div class="single-about">
						<div class="single-about-img">
							<div class="single-about-img-inner">
								<a href="#"><img src="assets/img/bg/bg1.jpg" class="img-fluid" alt=""></a>
							</div>
						</div>
						<div class="single-about-caption">
							<div class="single-about-icon">
								<i class="fa fa-shekel-sign"></i>
							</div>
							


							<div class="single-about-title">
								<h5>  Feature 2U</h5>
							</div>
							<div class="single-about-dec">
								<p>  Name and concept will be revealed at 1k holders.</p>
							</div>
						</div>
					</div>
				</div>
				<!-- end single about -->
			</div>
        </div>
        <!--- END CONTAINER -->
    </section>













</body>
<script
src="https://code.jquery.com/jquery-3.1.1.min.js"
integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
crossorigin="anonymous"></script>
<script src="semantic/dist/semantic.min.js"></script>
</body>
</html>